@import "mixins";

.appointment_btn_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 10px;

  .visit-time-button {
    padding: 4px;
    border: 0.75px solid $base-color;
    transition: 0.3s;

    &:hover, &:disabled {
      background-color: $base-color;
      color: white;
    }

    
  }
}