.dropdown {
  width: 100%;

  .dropdown-label {
    border: 0.5px solid $base-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.4em;
    margin-bottom: 1em;
  
    p {
      margin-bottom: 0 !important;
    }
  }
  
  .dropdown-options {
    display: none;
    transition: all 0.3s;
    position: absolute;
    border: 0.5px solid $base-color;
    background-color: white;

    &.visible {
      display: block;
    }
  }
}

.date-wrapper {
  display: flex;
  gap: 0.7em;
  padding: 1.4em 0.2em;
  border: 1px solid $base-color;
  border-radius: 1em;

  .date-content {
    text-align: center;
    border: 0.5px solid $base-color;
    
    margin: 0.5em 0;
    width: 6.3em;

    p {
      margin-bottom: 0;
    }

    @include tablet {
      width: 8em;
    }
  }

  button {
    display: inline-flex;
    align-self: center;

    svg {
      color: $base-color;
      transition: 0.2s;
  
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
