@import "mixins";

.dashboard {
  min-height: 100vh;
  max-width: 100%;
  position: relative;

  .container {
    margin-top: 1em;
  }

  .dashboard-content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    
    .personal-info {
      background-color: $base-color;
      border-radius: 0.8em;
      padding: 1em;

      button {
        display: flex;
        align-items: center;
        gap: 0.5em;
        color: white;
      }

      p {
        color: white;
      }

      a {
        color: white;
        text-decoration: none;
      }
    }

    .icon-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5em;

      p {
        margin-bottom: 0 !important;
      }
    }
  }

  .dashboard-outlet-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .user-dashboard {
      border: 1px solid red
    }

    .spinner-border {
      position: absolute;
      top: 50%;
      border-bottom-color: $base-color;
      border-left-color: $base-color;
      border-top-color: $base-color;
  }

    h2 {
      margin: 1.5rem 0;
    }
  }

}
