@import "colors";

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  .social-media-txt {
    color: rgb(124, 120, 120);
    font-size: 1.2rem;
  }

  .social-media-container {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;

    a {
      &:nth-child(1) {
        color: #4267B2;
      }

      &:nth-child(2) {
        .ig-logo {
          width: 40px;
        }
      }

      &:nth-child(3) {
        color: #1DA1F2;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .copyright {
    background-color: $base-color;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    color: white;
  }
}