@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import "colors";
@import "mixins";

.navbar-section {
  background-color: rgb(130 129 101 / 90%);
  padding: 10px 0;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: 0.25s ease-in;
  border-bottom-left-radius: 23%;

  @include tablet {
    background-color: transparent;
  }

  .navbar-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;

    a {
      text-decoration: none;
    }

    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;

      svg {
        transition: 0.5s ease-in-out;
      }

      @include tablet {
        &:hover svg {
          color: red;
        }
      }

      p {
        font-size: 20px;
        width: 50%;
        display: none;
        color: white;
        margin-bottom: 0 !important;

        @include tablet {
          display: block;
        }
      }
    }
  }

  img {
    width: 100px;
  }

  .links {
    opacity: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 0;
    display: flex;
    background-color: white;
    height: 100vh;
    transition: 0.3s ease-in-out;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    font-size: 20px;

    &.open {
      opacity: 1;
      width: 100%;
    }

    li {
      border-bottom: 1px solid transparent;
      margin-right: 20px;

      a {
        text-decoration: none;
        color: $text-color;

        @include tablet {
          color: white;
          font-size: 18px;
          font-weight: 100;
        }
    
        &:hover {
          color: $on-hover-color;
        }
      }

      &:first-child {
        margin-top: 100px;

        @include tablet {
          margin-top: 0;
        }
      }
    }

    @include tablet {
      position: static;
      flex-direction: row;
      justify-content: space-around;
      opacity: 1;
      background-color: transparent;
      height: auto;
      width: auto;

    }

  }
}

.hamburger-menu {
  z-index: 100;

  .X_bars {
    color: black;
    font-size: 40px;
  }

  @include tablet {
    display: none;
  }
}

.scrolled {
  background-color: $base-color;
  backdrop-filter: blur(10px);
}