.register-form {
  padding: 80px;
  background-color: #DFD7FF;

  p {
    color: white;
    font-size: 1.4rem;
  }

  .register-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: white;
  }

  input {
    margin-left: 20px;
    margin-top: 30px;
    color: white;
    background-color: $base-color;
    border: none;
    border-bottom: 1px solid white;

  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 40px;
    background-color: $base-color;
    border-radius: 8px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  }

  .create-acc-btn {
    padding: 6px 12px;
    background-color: burlywood;
    margin-top: 40px;
    margin-bottom: 30px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10px;
  }
}