@import "mixins";

.register-form {
  padding: 80px 10px;
  background-color: $bg-color;
  @include tablet {
    padding: 100px;
  }

  p {
    color: white;
    font-size: 1.4rem;
  }

  .register-form-wrapper {
    gap: 20px;
    color: white;
    width: 50%;
    font-size: 20px;
    text-align: center;

    .input-field {
      margin-bottom: 30px;
      gap: 40px;
      font-size: 16px;
    }

    input {
      background-color: $base-color;
      color: white;
      border: none;
      border-bottom: 1px solid white;
      display: block;
      width: 100%;
      -webkit-appearance: none;
      border-radius: 0;
    }

    input:-webkit-autofill {
      -webkit-text-fill-color: white;
      -webkit-box-shadow: 0 0 0px 1000px $bg-color, 1 inset;
      transition: background-color 5000s ease-in-out 0s;
  
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    background-color: $base-color;
    border-radius: 8px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

    @include tablet {
      width: 60%;
    }
  }

  .create-acc-btn {
    padding: 6px 12px;
    background-color: burlywood;
    margin-top: 20px;
    margin-bottom: 10px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10px;
  }
}

.btns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 10px;

  @include tablet {
    flex-direction: row;
    gap: 40px;
  }
}
